<header>
    <div class="flex">
        <button type="button" class="btn btn-primary listbtn" data-bs-toggle="offcanvas" data-bs-target="#headerLink">
            <i class="bi bi-list list"></i>
        </button>
        <!-- <i class="bi bi-list list"></i> -->
        <img src="htdocs/asset/icon/mainLogo.png" alt="logo" class="logo">
        <div class="elements">
            <span>
                <a href="/index">Home</a>
            </span>
            <span class="shopSpan dropdown">
                <a href="product.php" class="shop dropdown-toggle" id="shopDropdown">Shop</a>
                <div class="dropdown-menu full-dropdown" id="myDropdown" aria-labelledby="shopDropdown">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="headerShop mb-2">
                                    <h6><a class="dropdown-item" href="/product">Categories</a></h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="/product">Offers</a></li>
                                        <li><a class="dropdown-item" href="/product">Combo</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="headerShop mb-2">
                                    <h6><a class="dropdown-item" href="/combo">Combos</a></h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="/product">Super saver</a></li>
                                        <li><a class="dropdown-item" href="/product">Breakfast combo</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="headerShop mb-2">
                                    <h6><a class="dropdown-item" href="#">More</a></h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="/product">Bulk Orders</a></li>
                                        <li><a class="dropdown-item" href="/product">About us</a></li>
                                        <li><a class="dropdown-item" href="/product">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
              
                <a href="#" >Account</a>
                
                <a href="/profile">Account</a>
               
            </span>
            <span>
                <a href="#">Contact us</a>
            </span>
        </div>
        <button class="nav-link endbtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchCanvas" aria-controls="searchCanvas">
            <i class="bi bi-search"></i>
        </button>
       
        <a class="nav-link endbtn" href="#" onclick="check_mycart()">
            <i class="bi bi-cart2"></i>
</a>
       <a class="nav-link endbtn" href="/mycart">
            <i class="bi bi-cart2"></i>
</a>
        <button class="login" onclick="login_request()">Login</button>
        
    </div>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="headerLink" aria-labelledby="headerLinkLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="headerLinkLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="headerLink">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/index">Home</a>
            </li>
            <li class="nav-item">
                <div class="d-flex align-items-center">
                    <a class="btn btn-toggle shop-toggle nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#shopCollapse" aria-expanded="false">
                        Shop <i class="bi bi-chevron-down"></i>
                    </a>

                </div>
                <div class="collapse" id="shopCollapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="text-align:center;">
                        <li><a href="product.php" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Categories</a></li>
                        <li><a href="offers.php" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Offers</a></li>
                        <li><a href="combo.php" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Combos</a></li>
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Bulk Orders</a></li>
                        <li><a href="product.php" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shop All</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
               
                <a class="nav-link" href="#" onclick="check_account()">Account</a>
                
                <a class="nav-link" href="/profile">Account</a>
                

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/details">Contact us</a>
            </li>
            
            <a class="nav-link" href="#" >Login/Register</a>
           
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
